.dropsearch{
	position: relative;
	box-sizing: border-box;
	display:block;

	& > input{
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		width: 100%;
	}

	*{
		box-sizing: border-box;
	}

	.ds-results{
		position: absolute;
		top:100%;
		left:0;
	}

	.ds-result{
		cursor: default;
	}

	.ds-loader{
		position: absolute;
	    width: 20px;
	    height: 20px;
	    border: 2px solid;
	    border-radius: 100%;
	    border-top-color: rgba(0, 0, 0, 0);
	    right: 25px;
	    top: 50%;
	    margin-top: -10px;
	    animation:spin .5s infinite linear;

	    @keyframes spin{
			0%    { transform: rotate(0deg);}
		  100%  { transform: rotate(360deg);}
		}
	}
}

.dropsearch.default-theme{

	.ds-search{
		outline: none;
    	padding: 1em;
    	border: 1px solid #eaeaea;
	}

	.ds-selected{
		background: #3faa56;
		color:white;
	}

	.ds-results{
		width: 100%;
	}

	.ds-result{
		transition: background .2s ease,color .2s ease;
		padding: 10px;
	}
}
